
body{
    background-image: url(https://i.pinimg.com/originals/0d/af/b7/0dafb7928a99a9cb552a941895a6e586.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-blend-mode: multiply;
    background-color: rgba(3, 3, 3, 0.9);
    
}

.olx-logo{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.h2{
    display: flex;
    justify-content: space-around;
    color:#002f34 ;
    padding-top: 20px;  
}

.input{
    display: flex;
    justify-content: space-around;
   
    
}

.input > input{
    width: 400px;
    padding: 10px 0px;
    border-radius: 5px;
    padding-left: 20px;
    font-size: large;
    
}

.input > input:focus{
    outline-color: mediumspringgreen;
}

.next-btn{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
   
}

.next-btn > button{
    width:400px ;
    padding: 10px 0px;
    border-radius: 5px;
    border: none;
    font-size: larger;
    font-weight: bolder;
    background-color: gray;
}


.para{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}